*.mod
*.o
run/eqm2_MPI
run/eqm3_MPI
run/fmat
run/fullham
run/hf
run/nondiag
run/tda
run/scratch
run/inputs
run_test/
.vscode/
run/eqm_admat
run/eqm_svd
run/eqm3_admat
run/eqm3_svd
run/HFB_DD
run/phon_dens1_MPI
run/phon_dens2_MPI
run/phon_int_MPI
run/TDA
run/mpi_openmp_set.sh
run/run_admat2.sh
run/run_admat3.sh
run/run_dens1.sh
run/run_dens2.sh
run/run_eqm2.sh
run/run_eqm3.sh
run/run_phon_int.sh
run/run.sh
bin/
